h1 {
    color: green;
    font-size: 15px;
}

.product-item {
    color: pink
}

table {
    width: 100%;
    border-collapse: collapse;
}

  table, th, td {
    border: 1px solid gray;
    padding: 20px;
  }

  .product-name {
      color:red;
      font-size: 20px;
  }